In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
files.upload()

# Load the CSV file
df = pd.read_csv('retail_store_sales.csv')

# View first 5 rows
df.head()

Saving retail_store_sales.csv to retail_store_sales.csv

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False

In [4]:
# Check rows, columns, and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    12575 non-null  object
 1   Customer ID       12575 non-null  object
 2   Category          12575 non-null  object
 3   Item              11362 non-null  object
 4   Price Per Unit    11966 non-null  float64
 5   Quantity          11971 non-null  float64
 6   Total Spent       11971 non-null  float64
 7   Payment Method    12575 non-null  object
 8   Location          12575 non-null  object
 9   Transaction Date  12575 non-null  object
 10  Discount Applied  8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [5]:
# Check numbers of rows and columns
df.shape

(12575, 11)

In [6]:
# Count missing values in each column
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [7]:
# Remove the rows where items are is missing
df = df.dropna(subset=['Item'])
# verify items has no missing values
df['Item'].isnull().sum()

np.int64(0)

In [8]:
# Fill missing price per unit with median
df['Price Per Unit'].fillna(df['Price Per Unit'].median(),inplace= True)

# Fill missing quantity with median
df['Quantity'].fillna(df['Quantity'].median(),inplace = True)

# recalculate total spent
df['Total Spent']= df['Price Per Unit']*df['Quantity']

# fill missing Discount appllied with 0
df['Discount Applied'].fillna(0,inplace = True)

/tmp/ipython-input-2025413951.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price Per Unit'].fillna(df['Price Per Unit'].median(),inplace= True)
/tmp/ipython-input-2025413951.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(df['Quantity'].median(),inplace = True)
/tmp/ipython-input-2025413951.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Discount Applied'].fillna(0,inplace = True)

In [9]:
# Check categorical consistency

df['Payment Method'].value_counts()

Payment Method
Cash              3917
Credit Card       3729
Digital Wallet    3716
Name: count, dtype: int64

In [10]:
df['Category'].value_counts()

Category
Furniture                             1460
Electric household essentials         1437
Beverages                             1427
Food                                  1426
Milk Products                         1425
Butchers                              1421
Computers and electric accessories    1397
Patisserie                            1369
Name: count, dtype: int64

In [11]:
df['Location'].value_counts()

Location
Online      5745
In-store    5617
Name: count, dtype: int64

In [12]:
#check the data type
df.dtypes

Transaction ID       object
Customer ID          object
Category             object
Item                 object
Price Per Unit      float64
Quantity            float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
Discount Applied     object
dtype: object

In [13]:
# FIX TRANSACTION DATA DATA TYPE

# Convert transaction data to datetime
df['Transaction Date']= pd.to_datetime(df['Transaction Date'])

# verify
df['Transaction Date'].dtype

dtype('<M8[ns]')

In [14]:
# Convert discount Applied to boolean
df['Discount Applied']= df['Discount Applied'].astype(bool)

# Verify
df['Discount Applied'].dtype

dtype('bool')

In [15]:
# Count duplicate row
df.duplicated().sum()

np.int64(0)

In [16]:
# Price/Quantity should not be zero or negative
df[df['Quantity'] <= 0]
df[df['Price Per Unit'] <= 0]

Empty DataFrame
Columns: [Transaction ID, Customer ID, Category, Item, Price Per Unit, Quantity, Total Spent, Payment Method, Location, Transaction Date, Discount Applied]
Index: []

In [17]:
# Verify Total Spent calculation
df[df['Total Spent']!= df['Price Per Unit']*df['Quantity']]

Empty DataFrame
Columns: [Transaction ID, Customer ID, Category, Item, Price Per Unit, Quantity, Total Spent, Payment Method, Location, Transaction Date, Discount Applied]
Index: []

In [18]:
# Final shape
df.shape

(11362, 11)

In [19]:
# Final missing values check
df.isnull().sum()

Transaction ID      0
Customer ID         0
Category            0
Item                0
Price Per Unit      0
Quantity            0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
Discount Applied    0
dtype: int64

In [20]:
# shave cleaned dataset
df.to_csv('retail_store_sales_cleaned.csv',index = False)
print("Cleaned CSV saved successfully")

Cleaned CSV saved successfully

# Data Cleaning & Preprocessing
## Retail Store sales (Dirty Dataset)

## Objective
The objective of this project is to clean and preprocess a messy retail sales Dataset.
The raw data contains missing values, incorrect data types,and inconsistent records
After cleaning, the dataset becomes ready for analysis

## Data Quality Issues Identified
- Missing values in Item, Price Per Unit, Quantity, Total Spent, and Discount Applied
- Incorrect data types in Transaction Date and Discount Applied
- Inconsistent values in Total Spent
- Invalid price and quantity values

## Cleaning Steps Performed
1. Removed rows where Item was missing
2. Filled missing numeric values using median
3. Recalculated Total Spent using Price Per Unit and Quantity
4. Converted Transaction Date to datetime format
5. Converted Discount Applied to boolean
6. Verified duplicates and invalid values

## Before vs After Comparison
- Before cleaning: dataset had missing values and wrong data types
- After cleaning: dataset has no missing values and correct formats
- Final dataset is consistent and analysis-ready
\

## Final Output
- Cleaned CSV file: retail_store_sales_cleaned.csv
- Notebook includes all steps and explanations